.card-container {
    perspective: 1000px;
    position: relative;
}

.card {
    width: 200px;
    min-height: 200px;
    background-color: var(--card-background-color);
    padding: 15px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    transition: transform 0.1s;
    transform-style: preserve-3d;
    position: relative;
}

.card:before, .card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    background: rgba(0,0,0,0);
    transition: transform 0.1s;
}

.card:before {
    transform: rotateX(0deg) rotateY(0deg);
}

.card:hover:before {
    transform: rotateX(calc(var(--mouse-y, 0) / 10 * 1deg)) rotateY(calc(var(--mouse-x, 0) / 10 * -1deg));
}

/* Класс для контейнера карточки, чтобы отловить позицию курсора */
.card-container:hover .card {
    transform: perspective(1000px) rotateX(calc(var(--mouse-y, 0) / 10 * 1deg)) rotateY(calc(var(--mouse-x, 0) / 10 * -1deg));
}
